$sizes: (100px: 100px, 150px: 150px, 200px: 200px);

@each $size,
$value in $sizes {
  .w-#{$size} {
    width: $value !important;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.metro-group {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
  padding: 3rem;
  align-items: flex-start;
}

.metro {
  display: flex;
  font-size: 1.125rem;
  flex-wrap: wrap;

  .col {
    padding-bottom: 16px;
  }
}

.metro-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  height: 120px;
  overflow: hidden;
  position: relative;
  color: $white !important;
  text-decoration: none !important;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &:hover::before {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &.disabled {
    pointer-events: none;

    &::before {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  img {
    display: block;
  }

  .number {
    position: absolute;
    font-size: 16px;
    right: 20px;
    top: 10px;
  }

  &.color-1 {
    background-color: #6697FD;
  }

  &.color-2 {
    background-color: #05BBBF;
  }

  &.color-3 {
    background-color: #624FBB;
  }

  &.color-4 {
    background-color: #E0952F;
  }

  &.color-5 {
    background-color: #DF247F;
  }

  &.color-6 {
    background-color: #B326D4;
  }

  &.color-7 {
    background-color: #C72B2E;
  }

  &.color-8 {
    background-color: #28AA2E;
  }

  &.color-9 {
    background-color: #F45D30;
  }
}