.steps {
  display: flex;
  .step {
    flex-basis: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: $gray-400;
    position: relative;
    padding: 0 1rem 0 3rem;
    position: relative;
    &::before {
      content: attr(data-step);
      position: absolute;
      left: -0.5rem;
      top: -0.5rem;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: $gray-400;
      border: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.active,
    &.active::before {
      background-color: $yellow;
    }
  }
  .title {
    padding-right: 2rem;
    font-weight: 600;
  }
}