$brand:#0E1E7D;
$primary:#0D3896;
$info:#0480B7;
$warning:#FFB300;
$enable-rounded: false;
$badge-font-size: 12px;
$badge-padding-y: 0.2em;
$list-group-item-padding-y: 0.5rem;
$grid-gutter-width: 16px;
$table-cell-padding: 0.3rem 0.5rem;
$font-size-sm: 1rem;
$btn-disabled-opacity: 0.45;