@using Wd3eCore.Workflows.Helpers;
@using Wd3eCore.Workflows.ViewModels;
@using Wd3eCore.Users.Workflows.Activities;

@model ActivityViewModel<RegisterUserTask>

<header>
    @{
        var icon = Model.Activity.SendConfirmationEmail ? "fa-user-shield" : "fa-user";
    }
    <h4><i class="fa @icon"></i>@Model.Activity.GetTitleOrDefault(() => T["Register User"])</h4>
</header>
